/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
body {
  /* font-family: 'Roboto', sans-serif; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1360px;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 800px;
  margin-top: 50px;
  text-align: justify;
}
.card {
  flex-direction: row;
}
.card-img-top {
  max-width: 200px;
  max-height: 250px;
  border-radius: 30px;
}
.repos {
  margin-top: -30px;
}
.project {
  margin-top: 20px;
  animation-duration: 1s;
  animation-name: bounceInDown;
}
.footer {
  margin-top: 40px;
}
.contact {
  margin-left: 20px;
  margin-right: 20px;
}
.project-imgs {
  width: 320px;
  max-width: 320px;
  margin-right: auto;
  display: flex;
  max-width: 320px;
  justify-content: space-between;
  animation-duration: 1s;
  animation-name: bounceInDown;
}
@media screen and (max-width: 720px) {
  .project-imgs {
    display: block;
  }
}
